<header>
  <div class="nav-bar">
    <mat-toolbar color="primary">
      <div class="logo">
        <img src="./assets/img/Logos/Logo64X64.png" alt="logo" />
      </div>
      <span class="example-fill-remaining-space">
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Home</button>
          <!-- <button mat-menu-item (click)="getPage('home')">Home</button>
                  <button mat-menu-item (click)="getPage('infraestructura-vial')">Infraestructura vial</button>
                  <button mat-menu-item (click)="getPage('diagnostico')">Diagnóstico</button>
                  <button mat-menu-item (click)="getPage('calibracion-auditoria')">Calificación y auditoria</button> -->
        </mat-menu>
      </span>

      <span>
        <button mat-button>SOAT</button>
        <!-- <button mat-button (click)="getPage('infraestructura-vial')">Infraestructura vial</button>
              <button mat-button (click)="getPage('diagnostico')">Diagnóstico</button>
              <button mat-button (click)="getPage('calibracion-auditoria')">Calificación y auditoria</button>
              <button mat-button (click)="getPage('home')"><mat-icon matSuffix>help</mat-icon></button>
              <button mat-button (click)="getPage('home')"><mat-icon matSuffix>notification_important</mat-icon></button>
              <button *ngIf="globals.rol == 1" mat-button [matMenuTriggerFor]="menu1">
                  <mat-icon matSuffix>account_circle</mat-icon>
              </button>
              <mat-menu  #menu1="matMenu">
                  <button mat-menu-item (click)="getPage('change-password')">Cambiar contraseña</button>
                  <button mat-menu-item (click)="getLogout()">Cerrar sesión</button>
              </mat-menu>
              <button *ngIf="globals.rol == 2" mat-button [matMenuTriggerFor]="menu2">
                  <mat-icon matSuffix>account_circle</mat-icon>
              </button>
              <mat-menu  #menu2="matMenu">
                  <button mat-menu-item>Cambiar contraseña</button>
                  <button mat-menu-item  (click)="getPage('dashboard')">Administrar usuarios</button>
                  <button mat-menu-item (click)="getLogout()">Cerrar sesión</button>
              </mat-menu> -->
      </span>
    </mat-toolbar>
    <mat-divider></mat-divider>
  </div>
</header>

<!-- <p>
  <mat-toolbar color="primary" id="movil">
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Home</button>
      <button mat-menu-item>Home</button>
      <button mat-menu-item>Infraestructura vial</button>
      <button mat-menu-item>Diagnóstico</button>
      <button mat-menu-item>Calificación y auditoria</button>
    </mat-menu>

    <span>My App</span>

    <span class="example-fill-remaining-space"></span>

    <span class="example-fill-remaining-space">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </span>

    <div class="logo">
      <img src="./assets/img/Logos/Logo64X64.png" alt="logo" />
    </div>
  </mat-toolbar>
</p> -->
