<div class="p-col-12 p-md-6 p-lg-3 box p-shadow-4 p-ai-center">
  <!-- <div class="box">
    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText>
      <label for="float-input">PACA</label>
    </span>
  </div> -->
  <p-card>
    <p-header>
      Cotize su SOAT
    </p-header>
    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText>
      <label for="float-input">PACA</label>
    </span>
    <p-footer>
      <button label="Consultar" pButton type="button" class="p-button-raised p-button-rounded"></button>
    </p-footer>
  </p-card>

</div>

